<nav class="bg-gray-800 py-4 mt-4 border-t sm:ml-[200px] sm:min-w-fit px-3">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-center">

      <div class="md:block sm:line-clamp-1 items-center">
        <!-- Navbar links for larger screens -->
        <ul class="flex space-x-4">
          <li><a routerLink="#" class="text-gray-300 hover:text-white"><span class="hidden md:inline-block text-gray-300">Mobile</span> Phones</a></li>
          <li><a routerLink="#" class="text-gray-300 hover:text-white">Airpods</a></li>
          <li><a routerLink="#" class="text-gray-300 hover:text-white"><span class="hidden md:inline-block text-gray-300">Smart</span> Watches</a></li>
          <li><a routerLink="#" class="text-gray-300 hover:text-white">Headphones</a></li>
          <li><a routerLink="#" class="text-gray-300 hover:text-white">Laptops</a></li>
        </ul>
      </div>

    </div>
  </div>
</nav>
